<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.plantaid_application">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PlantAid_Application"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".MyGarden.PlantCare_Add_Reminder"
            android:exported="true" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.plantaid_application"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".Module_Identify_Plant_Result"
            android:exported="true"></activity>
        <activity
            android:name=".Module_Identify_Plant_Organ"
            android:exported="true" />
        <activity
            android:name=".MyGarden.Module_MyGarden_Details"
            android:exported="true" />
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Welcome_Screen"
            android:exported="true" />
        <activity
            android:name=".MyGarden.Add_Plant_Details"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:label="@string/title_add_plant" />
        <activity
            android:name=".MyGarden.Add_Plant"
            android:exported="true"
            android:label="@string/title_add_plant" />
        <activity
            android:name=".MainHome"
            android:exported="true" />
    </application>

</manifest>